mixin footer()
	+b.FOOTER.footer
		.container
			.row
				+e.logo.col-auto 
					a(href="#")
						img(src="img/logo.png", alt="")
				.col
					+mnu() 
				.col-sm-auto
					+e.tel(href="tel:+7(495)1234567") +7 (495) 123 45 67
					+e.time
						+icon('clock')
						|  с 8:00 до 20:00 (Без выходных)
				+e.btn-wrap.col-md-auto
					+e.btn.btn-primary(href="#") РАССЧИТАТЬ отопление
					+e.btn.btn-light(href="#") СТАТЬ ПАРТНЁРОМ
				
