mixin s-about()
	// start s-about
	+b.s-about
		.row
			mixin item-p( t )
				+e.col--page.col-md-6
					+e.item-page&attributes(attributes) 
						+e.title-body= t
						+e.item-page-body
							ul
								block 
				// /+e.col.col-md-6 
			+item-p('Энергосберегающее отопление POWER BRON')
				li Потребляет всего от 25 вт на 1 м.кв – это экономично

				li Обогревает полезным теплом

				li Не нужны трубы и батареи, полная экономия на монтаже, обслуживании и пространстве в доме

				li Легкая и быстрая сборка, достаточно подключения к электричеству

				li Обеспечивает более 25 лет надежной работы без обслуживания
			
			+item-p('Энергосберегающее отопление POWER BRON')
				li Потребляет всего от 25 вт на 1 м.кв – это экономично

				li Обогревает полезным теплом

				li Не нужны трубы и батареи, полная экономия на монтаже, обслуживании и пространстве в доме

				li Легкая и быстрая сборка, достаточно подключения к электричеству

				li Обеспечивает более 25 лет надежной работы без обслуживания

	// end s-about