
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 

	+form-wrap()(id="modal-charact" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		.text-center 
			.h2.text-primary.strong POWERBRON 250
			p.strong Подробные характеристики
		mixin gr(t, p)
			+e.group
				.row
					.col= t
					.col-auto= p
		+gr('Принцип обогрева','инфракрасный и конвекционный')
		+gr('Номинальная мощность','0.250 квт (1.1А)')
		+gr('Площадь обогрева','4-6 кв.м')
		+gr('Напряжение','220-230в')
		+gr('Температура обогрева','80-90с')
		+gr('Габариты','500х500х40')
		+gr('Комплектация','шнур без вилки')
		+gr('Масса','5 кг')
		+gr('Установка','настенная')
		+gr('Гарантия','36 мес.')
		+gr('Срок службы','25 лет')
		+gr('Производитель','Power Bron (Россия)')
		+e.btn.btn-primary(href="#") В КОРЗИНУ
	// #modal-charact
	
	+form-wrap()(id="modal-call" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		.text-center
			+e.title.h3.ttu Обратный звонок
			p Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течении 15&nbsp;минут
		+input("text","Ваше Имя")(required) 
		+input("tel","Ваш телефон")(required)
		//- +input("email","Ваше email")(required)
		//- +text( "Комментарий")
		+e.INPUT.btn.btn.btn-block.btn-warning.mb-4(type="submit" value="Рассчитать") 
		+polite()
	// #modal-call

	// modal