mixin s-advantages()
	// start s-advantages
	+b.s-advantages.section.pt-0#s-advantages.lazy-background&attributes(attributes)
		.container
			+e.head.visible
				.row
					mixin item(t)
						+e.col-head.col-md-4.col-sm-6
							+e.item&attributes(attributes)
								+e.title= t
								block
						// /+e.col.col-md-4.col-sm-6 
					+item('БЫСТРЫЙ МОНТАЖ')
						+e.text Легко крепится на стену или ставится на ножки. Сборка занимает 10 минут
					+item('Никаких замерзающих жидкостей')(class="active")
					+item('Естественная конвенция')
						+e.text Нагревательный мат защищен от механических повреждений
					
					+item('БЫСТРЫЙ МОНТАЖ')
						+e.text Легко крепится на стену или ставится на ножки. Сборка занимает 10 минут
					+item('Никаких замерзающих жидкостей')
					+item('Естественная конвенция')
						+e.text Нагревательный мат защищен от механических повреждений
			+e.body
				.row
					mixin item(i, t)
						+e.col.col-lg-4.col-sm-6
							+e.item-body&attributes(attributes)
								+e.img-wrap.visible
									img.lazy(src="#" data-src=`img/advanteges-${i}.png`, alt="")
								+e.title-body= t
						// /+e.col.col-lg-4.col-sm-6 
					+item('1','Монтаж 10 минут')
					+item('2','Не сушит воздух')
					+item('3','Пожаробезопасен')
					+item('4','Срок службы от 30 лет')
					+item('5','Беззвучный')
					+item('6','Любой цвет')
					+item('7','экономный')
					+item('8','Термоконтроль')
					+item('9','экологичный ')
					
				//- +item('БЫСТРЫЙ МОНТАЖ')
				//- +item('Никаких замерзающих жидкостей')
				//- +item('Естественная конвенция')
				
	// end s-advantages

mixin s-advantages-07()
	// start s-advantages
	+b.s-advantages.section#s-advantages.lazy-background&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Преимущества
			+e.body
				.row
					mixin item-p(i, t )
						+e.col--page.col-xl-3.col-md-6
							+e.item-page&attributes(attributes)
								+e.item-head
									+e.img-wrap.visible
										img.lazy(src="#" data-src=`img/advanteges-${i}.png`, alt="")
									+e.title-body= t
								+e.item-page-body
									ul
										block

						// /+e.col.col-xl-3.col-md-6 
					+item-p('10','Энергосберегающее отопление POWER BRON')
						li Потребляет всего от 25 вт на 1 м.кв – это экономично

						li Обогревает полезным теплом

						li Не нужны трубы и батареи, полная экономия на монтаже, обслуживании и пространстве в доме

						li Легкая и быстрая сборка, достаточно подключения к электричеству

						li Обеспечивает более 25 лет надежной работы без обслуживания

					+item-p('11','Дровеные, палетные, газовые котлы')
						li Требуются условия для подключения к газопроводу или постоянная подача топлива

						li Для отопления нужна система из радиаторов и труб, которые занимают место и создают риск протечки и замерзания

						li Не равномерно прогревают помещение – сначала прогревает воздух, а затем тепло передается человеку

						li Нуждаются в ежегодном обслуживании – проверка котлы, промывка труб


					+item-p('12','Конвекторы, электрические котлы')
						li Сушат воздух, сжигают кислород и пыль в помещении. У жильцов возникают головные боли и аллергии

						li Потребляют от 90 о 200 Вт на 1 м.кв – не экономичны

						li В случае короткого замыкания мгновенно загораются

						li Короткий срок службы ТЭНов и спиралей обогрева


					+item-p('13','Инфакрасные пленки, теплый пол') 
						li Сушат воздух, сжигают кислород и пыль в помещении. У жильцов возникают головные боли и аллергии

						li Потребляют от 90 о 200 Вт на 1 м.кв – не экономичны

						li В случае короткого замыкания мгновенно загораются

						li Короткий срок службы ТЭНов и спиралей обогрева


			+e.head.visible
				.row
					mixin item(t)
						+e.col-head.col-md-4.col-sm-6
							+e.item&attributes(attributes)
								+e.title= t
								block
						// /+e.col.col-md-4.col-sm-6 
					+item('БЫСТРЫЙ МОНТАЖ')
						+e.text Легко крепится на стену или ставится на ножки. Сборка занимает 10 минут
					+item('Никаких замерзающих жидкостей')(class="active")
					+item('Естественная конвенция')
						+e.text Нагревательный мат защищен от механических повреждений
					
					+item('БЫСТРЫЙ МОНТАЖ')
						+e.text Легко крепится на стену или ставится на ножки. Сборка занимает 10 минут
					+item('Никаких замерзающих жидкостей')
					+item('Естественная конвенция')
						+e.text Нагревательный мат защищен от механических повреждений
					
				//- +item('БЫСТРЫЙ МОНТАЖ')
				//- +item('Никаких замерзающих жидкостей')
				//- +item('Естественная конвенция')
				
	// end s-advantages

