extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-prod/_s-prod.pug
include ../blocks/s-examples/_s-examples.pug
include ../blocks/s-why/_s-why.pug

block title
	title  Преимущества

block pagecontent
	+mob-mnu()
	+header()
		+top-line()
		+top-nav() 
	+s-advantages-07
	+s-form()
	//- +s-why
	.section.text-center
		+b.section-title
			h2 основные ПОТЕРИ ТЕПЛА
		img.res-i.lazy(src="#" data-src="img/house.jpg", alt="")
	//- +s-contact()
	+footer()
	
	