extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-advantages/_s-advantages.pug
include ../blocks/s-prod/_s-prod.pug
include ../blocks/s-examples/_s-examples.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/aside/_aside.pug
include ../blocks/s-about/_s-about.pug

block title
	title О комании

block pagecontent
	+mob-mnu()
	+header()
		+top-line()
		+top-nav() 
	.main-wrap.section
		.container
			.row.no-gutters
				.col-lg-8.bg-white
					+s-about
				.col-lg-4.order-lg-first
					+aside
	+s-form()
	//- +s-contact()
	+footer()
	
	