.top-nav {

	background-color: $light;
	width: 100vw;
	position: absolute;
	left: 0;
	// bottom: 0;
	border-bottom: 1px solid #eceef4;
	z-index: 200;
	&:not(.fixed) .col-auto{
		@include media-breakpoint-up(xl) {

			display: none;
		}
	}
	&.fixed {
		width: 100vw;
		bottom: auto;
		margin-top: 0;
		top: 0;
		position: fixed;
	}
	.row{
		align-items: center;
	}
	img{
		width: 50px;

	}
	&__nav {
		text-align: center;
		list-style-type: none;
	}

	&__item {
		display: inline-block;
		list-style-type: none;
	}

	&__basket{
	 
		.icon{
			@include media-breakpoint-down(xs) {
				position: relative;
				top: -8px;
			}
			@include media-breakpoint-up(sm) {

				font-size: 44px;
			}
			font-size: 24px;
				margin-right: 10px;
				color: inherit;
		}
		display: inline-flex;
		align-items: center;
	}
	&__count{
		width: 22px;
		height: 22px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;
		background-color: $primary;
		position: absolute;
		@include media-breakpoint-up(sm) {

			top: rem(5);
			right: 5px;
		}
		right: 0;
		top: rem(-15);
		color: #ffffff;
		border: 1px solid #ffffff;
	}
	&__icon-wrap{
		position: relative;
	}

	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {
		.col-auto{
			display: none !important;
		}
	}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}
.menu-mobile,
.top-nav{

	.menu{
		margin-bottom: 0;
		list-style-type: none;
		@include media-breakpoint-up(lg) {
			
			display: flex;
		}
	&-item{
		flex-grow: 1;
		position: relative;
		&:hover,
		&.current-menu-item{
			> a{
				border-color:  #b00c15;
				background-color: #cb0f17;
				color: #ffffff; 
				background-image: linear-gradient(to top, rgba(206, 15, 23, 0.61) 0%, rgba(249, 100, 103, 0.61) 100%);
				&::before{
					opacity: 1;
				}
			}
		}
		@include media-breakpoint-up(lg) {

			&:not(:hover){
				.sub-menu{ 
					width: 1px;
					height: 1px;
					width: 1px;
					height: 1px;
					margin: -1px;
					border: 0;
					padding: 0; 
					overflow: hidden;
				}
			}
		}
	}
	a{
		display: block;
		color: #161a21;
		text-decoration: none !important;
		font-size: $h2-font-size;
		font-weight: 400;
		line-height: 32px;
		text-transform: uppercase;
		@include media-breakpoint-up(lg) {

			text-align: center;
			padding: rem(22) rem(2);
		}
		padding: rem(22) rem(12);
		border-left: 1px solid #eceef4;
		border-right: 1px solid #eceef4;
		@include mt;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			bottom: -1px;
			@include a-cent(x);
			@include triangle(28px 10px, #fff, up);
			@include mt;
			opacity: 0;
		}
		// &:hover{
		// 	border-color:  #b00c15;
		// 	background-color: #cb0f17;
		// 	color: #ffffff; 
		// 	background-image: linear-gradient(to top, rgba(206, 15, 23, 0.61) 0%, rgba(249, 100, 103, 0.61) 100%);
		// 	&::before{
		// 		opacity: 1;
		// 	}
		// }
	}
}
.sub-menu{

	list-style-type: none;
	@include media-breakpoint-up(lg) {

		position: absolute;
		top: 100%;
		left: 0;
		box-shadow: 0 3px 4px rgba(151, 151, 151, 0.38);
	}
	box-shadow: inset 0 3px 4px rgba(151, 151, 151, 0.38);
	border: 1px solid #eceef4;
	background-color: #ffffff;
	z-index: 200;
	// @include mt;
	a{
		text-align: left !important;
		display: block;
		@include media-breakpoint-up(lg) {

			min-width: 300px;
			padding-left: rem(34) !important;
			padding-right: rem(34) !important;
			white-space: nowrap;
		}
		border-bottom: 1px solid #eceef4 !important;
		border-left: none;
		border-right: none;
		&::before{
			display: none;
		}
		&:hover{
			
		}
	}
	.menu-item{
		&:hover,
		&.current-menu-item{
			> a{
				background: #eceef4;
				color: $dark;
				border-bottom: 1px solid #eceef4 !important;
			}
		}
	}
}
}


// мобильное меню

// мобильное меню
$h: em(2);

.toggle-menu-mobile {
	display: block;
	height: $h* 14; 
	margin-left: 0;
	position: relative;
	z-index: 999 !important;
	right: 0;
	margin-top: 5px;
	padding: 3px;
	border-radius: 5px;
	top: $h;


	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
		top: $h*2;
	}

	span:after {
		top: $h * 4;
	}

	span {
		position: relative;
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		font-size: 32px;
		width: 1em;
		height: $h;
		background-color: $primary;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
	}

	&.on {
		opacity: 0;
	}

	&.on span {
		background-color: transparent;
	}

	&.on span:before {
		transform: rotate(45deg) translate(em(-1), 0px);
	}

	&.on span:after {
		transform: rotate(-45deg) translate(em(3), em(-4));
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 85%;
	height: 101vh;
	width: 280px;
	top: 0;
	// left: 0;
	right: 0;
	transform: translate(100%, 0);
	@include mt(.6);
	will-change: transform;

	&__inner {
		background-color: #c3c3c3;
		padding: 5% 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		margin: 0;
		border-top: 1px solid rgba(255, 255, 255, .13);

		a {
			// font-size: 16px;

			padding: 10px;
			display: block;
			text-align: left;
 
		}
	}
}