mixin header-block()
	// start header-block
	+b.header-block#header-block
		.container
			+e.slider--js
				- for (var x = 0; x < 1; x++)
					+e.slide(style="background-image: url(img/head-bg-sm.jpg);") 
						+e.inner
							+e.title 
								span.text-primary Power
								|bron – 
								br
								|  основное экономичное отопление
	// end header-block